* {
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}

body {
  font-family:"Roboto",sans-serif;
  background:#D9DAD9;
}

.tab-form {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:95%;
  max-width:400px;
  background:#F8F8F6;
  //box-shadow:0px 2px 5px 2px rgba(0,0,0,0.08);
}

.tab-form .tab-header {
  display:flex;
  justify-content:space-between;
  padding:20px;
}

.tab-form .tab-header > div {
  flex:1;
  padding:15px;
  text-align:center;
  color:#555;
  cursor:pointer;
}

.tab-form .tab-header > div.active {
  border:1.5px solid #027DC5;
  color:#027DC5;
  background:#e9f4ff;
}

.tab-form .tab-body {
  position:relative;
  min-height:300px;
  overflow:hidden;
}

.tab-form .tab-body > div {
  position:absolute;
  width:100%;
  top:-150vh;
  opacity:0;
  padding:5px 25px;
  transition:opacity 300ms ease-in-out 0ms;
}

.tab-form .tab-body > div.active {
  top:0px;
  opacity:1;
  transition:opacity 300ms ease-in-out 0ms;
}

.tab-form .tab-body > div h2 {
  font-size:25px;
  color:#222;
  text-align:center;
  margin-bottom:20px;
}

.tab-form .tab-body > div .form-input {
  margin:10px 0px;
}

.tab-form .tab-body > div .form-input label {
  display:block;
  font-size:15px;
}

.tab-form .tab-body > div .form-input input {
  width:100%;
  margin-top:5px;
  font-size:15px;
  padding:8px;
  background-color: #F8F8F6;
  border: none;
  border-bottom: 1.5px solid #222;
  outline: none;
  &:hover {
    border-bottom: 1.5px solid #027DC5;
  }
  &:focus {
    border-bottom: 1.5px solid #027DC5;
  }
}

.tab-form .tab-body > div .form-input button {
  width:100%;
  margin-top:10px;
  padding:10px;
  font-size:15px;
  border:none;
  outline:none;
  cursor:pointer;
  background:#027DC5;
  color:#F8F8F6;
  font-weight:600;
}
